<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App Heroku Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>App Heroku Example</h1>
       
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="data">Informe o número do CEP</label>
                    <input id="cep" type="text" class="form-control" placeholder="Número do CEP" th:field="*{cep}" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>CEP</th>
                        <th>Logradouro</th>
                        <th>Complemento</th>
                        <th>Bairro</th>
                        <th>Localidade</th>
                        <th>UF</th>
                        <th>Unidade</th>
                        <th>IBGE</th>
                        <th>GIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${records}">
                        <td th:text="${record.cep}">Some text</td>
                        <td th:text="${record.logradouro}">Some text</td>
                        <td th:text="${record.complemento}">Some text</td>
                        <td th:text="${record.bairro}">Some text</td>
                        <td th:text="${record.localidade}">Some text</td>
                        <td th:text="${record.uf}">Some text</td>
                        <td th:text="${record.unidade}">Some text</td>
                        <td th:text="${record.ibge}">Some text</td>
                        <td th:text="${record.gia}">Some text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>